:root{
    --heading--color:rgba(0, 128, 0, 0.76);
    --body--color:rgba(128, 128, 128, 0.151);
    --text--color:rgba(0, 0, 0, 0.712);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    font-family:sans-serif;
}
body{
    background-color: var(--body--color);
}
/* .purchase{
    display: flex;
} */
.purchase__heading{
    font-size: 5rem;
    font-weight: 600;
    color:var(--heading--color);
    /* padding:2rem; */
    
}
.purchase__discription{
    display:flex;
    justify-content:space-around;
}
.description{
    font-size: 2rem;
    flex-basis: 40%;
    color:var(--text--color);
    padding:4rem;
    
    /* flex:wrap; */
    
    
}


.features {
    
    /* margin-left: 6rem; */
    /* line-height: 2rem; */
    font-size: 2rem;
    list-style-type: none;
    color:black;
    margin-top: 4rem;
    
}
.features i{
    color:var(--heading--color);
    /* margin-right: 4rem; */
    display:inline-block;
    margin-right: 2rem;
}
   

.whole_cards{
    display: flex;
    justify-content: space-around;
}
.cards1{
    background-color: var(--heading--color);
    width:30vw;
    height: 70vh;
    
    border-radius: 20px;
}
.heading--plan--white{
    font-size: 3rem;
    color:white;
    padding:3rem 1rem;
}
.heading2--plan--white{
    font-size: 3rem;
    color:white;
    padding:3rem 1rem;
}
.offer--btn{
    padding:1rem;
    margin:2rem 3rem;
    color:var(--heading--color);
    font-size: 3rem;
    font-weight: 400;
    border-radius: 2rem;
    border:none;
}
.plan--discription{
    font-size: 1.8rem;
    line-height: 2rem;
    padding:4rem 2rem;
}
.cards2{
    background-color:white;
    width:30vw;
    height: 70vh;
    
    border-radius: 20px;
}
.heading--plan{
    font-size: 3rem;
    color:var(--heading--color);
    padding:3rem 1rem;
}
.heading--plan span{
    background-color: rgba(255, 255, 0, 0.678);
    color:rgba(0, 0, 0, 0.575);
    font-size: 2rem;
    margin-left: 8rem ;
    /* margin-left: 25rem; */
    border-radius: 2rem;
    display:inline-block;
}
/* .heading2--plan{
    font-size: 3rem;
    color:white;
    padding:3rem 1rem;
} */
.amount_off{
    font-size: 5rem;
    padding:2rem;
    color:var(--heading--color);
}
span{
    color:var(--heading--color);
    font-size: 3rem;
}
.offer--btn2{
    padding:1rem;
    margin:2rem 3rem;
    color:var(--heading--color);
    font-size: 3rem;
    font-weight: 400;
    border-radius: 2rem;
    border:none;
    background-color: lightgreen;
}
.cards3{
    background-color: white;
    width:30vw;
    height: 70vh;
    
    border-radius: 20px;
}
.heading--plan{
    font-size: 3rem;
    color:var(--heading--color);
    padding:3rem 1rem;
}
/* .heading2--plan{
    font-size: 3rem;
    color:white;
    padding:1rem 1rem;
} */
.amount_off{
    font-size: 5rem;
    padding:2rem;
    color:rgba(0, 0, 0, 0.555);
}
span{
    color:var(--heading--color);
    font-size: 3rem;
}
.offer--btn3{
    padding:1rem;
    margin:2rem 3rem;
    color:var(--heading--color);
    font-size: 3rem;
    font-weight: 400;
    border-radius: 2rem;
    border:none;
    background-color: lightgreen;
}

@media all and (max-width:950px){
    .purchase__discription{
        flex-direction: column;
    }
    .features{
        margin-left: 5rem;
    }
    .whole_cards{
        flex-direction: column;
    }
    .cards1,.cards2,.cards3{
        width:94%;
        margin-bottom: 2rem;
        
    }
    .whole_cards{
        align-items: center;
        justify-content: center;
    }
    .purchase__heading{
        text-align: center;
    }

}
